body{
    font-family: Helvetica;
}
h1{
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
    text-align: center;
    font-size: 100px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: khaki;
}

h2{
    font-family:Helvetica ;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.brushes{
    background-color: mediumspringgreen;
}

.paint{
 background-color: skyblue;
}

strong{
    font-family: Helvetica;
    color: blue;
}
